#Zero{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
}
#One:hover{
  cursor: pointer;
}
#One{
  position: absolute;
  top: 20px;
  left: 60px;
  right: 30px;
  width: 35px;
  height: 35px;
}
#One:hover{
  cursor: pointer;
}
#Two{
    position: absolute;
    top: 25px;
    left: 100px;
    width: 80px;
    height: 20px;
  }
#Two:hover{
    cursor: pointer;
}
#Three{
  position: absolute;
  top: 40px;
  left: 100px;
  width: 80px;
  height: 20px;
}
#Three:hover{
  cursor: pointer;
}
#Four{
  position: absolute;
  top: 25px;
  left: 190px;
  width: 520px;
  height: 25px;
}
#Four:hover{
  cursor: text;
}
#Five{
  position: absolute;
  top: 25px;
  left: 725px;
  width: 100px;
  height: 25px;
  background-color: white;
}
#Five:hover{
  background-color: blue;
  cursor: pointer;
}
#Six{
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100px;
  height: 25px;
  background-image: linear-gradient(to bottom,#ffffff 0%,#f8f9fa 10%,#f8f9fa 90%,#ffffff 100%);
}
#Six:hover{
  cursor: pointer;
  text-underline-position: below;
}
#Seven{
  position: absolute;
  top: 260px;
  left: 200px;
  width: 230px;
  height: 200px;
  background-color: #f8f9fa;
  list-style-type: square; 
}
#Eight{
  position: absolute;
  top: 500px;
  left: 150px;
  width: 1000px;
  height: 2000px;
}
#Nine{
  position: absolute;
  top: 120px;
  left: 160px;
  width: 700px;
  height: 300px;
  background-color: white;
  font-family: sans-serif;
  overflow: visible;
}
h2 {
  color: black;
  background: white;
  text-decoration: underline black;
  content: normal;
}
#Ten{
  position: absolute;
  top: 260px;
  left: 700px;
  width: 320px;
  height: 500px;
  background-color: green;
}