table {
    margin: 20px;
    position: relative;
    right: 500px;
    top: 70px;
    border: 6px solid black;
    height: 200px;
    width: 200px;
    left: 30%;
}
#reka{
    background: aqua;
    margin: auto;
    position: relative;
    height: 800px;
    width: 800px;
    left: 0px;
}

h2{
    height: 700px;
    width: 500px;
    left: 30%;
}

#buttonArea{
    position: static;
    height: fit-content;
    font-weight: 100;
    width: 800px;
    left: 0px;
}

.light-cell {
    background: white;
    width: 65px;
    height: 65px;
}

.dark-cell {
    background: brown;
    width: 70px;
    height: 70px;
}

.selected {
    background: rgb(197, 197, 83);
}

.possible-move {
    background: rgb(163, 196, 15);
}

.winner.dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: (-50%, -50%);
    background: white;
    padding: 50;
    border: radius 10px;
    width: max-content;
}

.title{
    text-align: center;
}
